@font-face {
	font-family: "Gilroy Light";
	src: 
			url("fonts/gilroylight.woff2") format("woff2");
}

@font-face {
	font-family: "Gilroy ExtraBold";
	src: 
			url("fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
	font-family: "Open Sans";
	src: 
			url("fonts/opensans.woff2") format("woff2");
}

@font-face {
	font-family: "Open Sans Light";
	src: 
			url("fonts/opensanslight.woff2") format("woff2");
}

body {
	margin 0;
	padding: 0;

	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	text-transform: lowercase;

	background-color: #ffffff;

}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	background-color: #f7e296;
}

.main-header .site-logo {
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
}

.main-header .site-logo:hover,
.main-header .site-logo:focus {
	opacity: 0.6;
}

.main-header a.site-logo:active {
	opacity: 0.3;
}

.user-interface {
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}

.user-interface input {
	height: ;: 100%;
	opacity: 0.3;
	background-color: #f7e296;
	text-decoration: none;
	border: 0;
}

.user-interface input:hover {
	opacity: 0.6;
}

.user-interface input:focus {
	opacity: 1;
}

.user-interface ul {
	list-style: none;
}

.user-interface a {
	color: #000000;
}

.user-interface a:hover,
.user-interface a:focus {
	opacity: 0.6;
}

.user-interface a:active {
	opacity: 0.3;
}

.main-navigation a {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.main-navigation ul {
	list-style: none;
}